<footer>

	<div class="reseau_sociaux">
		<h3>
			Suivez-nous sur les réseaux sociaux
		</h3>

		<a href="https://fr-fr.facebook.com/" class="facebook">
			<i class="fab fa-facebook-square"></i>
		</a>
		<a href="https://www.instagram.com/?hl=fr" class="instagram">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="https://www.youtube.com/" class="youtube">
			<i class="fab fa-youtube"></i>
		</a>
	</div>
	<div class="copyright">
		<a href="{{ path('contact') }}">
			<h3>
				Nous contacter <i class="far fa-comment-alt"></i></h3>
		</a>
		<b>Donner.fr © Copyright 2021 | Tous droits réservés
		</b>

		<a href="{{ path('mentions') }}" target="_blank">
			<br>
			Mentions légales
		</a>
		<a href="{{ path('mentions') }}" target="_blank">
			<br>
			Confidentialité
		</a>
		<a href="{{ path('mentions') }}" target="_blank">
			<br>
			Conditions générales d'utilisation
		</a>
	</div>
</div>


<div class="FAQ">

	<div>
		<h3>
			FAQ
		</h3>
	</div>


	<details>
		<summary>
			Qui sommes-nous ?
		</summary>
		<p>Un groupe de développeuses qui s'engage pour faciliter le partage
		</p>
	</details>
	<details>
		<summary>
			Nos objectifs
		</summary>
		<p>Lutter contre la surconsommation, la pollution et les inégalités</p>
	</details>
	<details>
		<summary>
			Notre cause
		</summary>
		<p>Donner pour plus de solidarité et moins de gaspillage</p>
	</details>

</footer>
